{{define "main" }}
<article
    class="prose lg:prose-lg xl:prose-xl min-w-full dark:prose-invert dark:prose-pre:bg-gray-700 prose-ul:list-disc prose-li:marker:text-black dark:prose-li:marker:text-white">
    <h1 style="margin-bottom: 1rem;">{{.Title}}</h1>
    <p class="space-x-1 text-">
        <span>{{.Date.Format "03.01.2006"}}</span>
        <span> — </span>
        {{ $category := index (.GetTerms "categories") 0 }}
        <span class="hover:underline"><a style="font-weight:inherit;color:inherit;text-decoration:inherit;"
                href="{{ $category.Permalink }}">{{$category.LinkTitle}}</a></span>
        <span> — </span>
        <span>{{.ReadingTime}} min read</span>
    </p>
    <p>{{ .Content }}</p>
</article>
<div class="pt-10 space-x-2 flex justify-start">
    {{ range (.GetTerms "tags") }}
    {{ partial "taxonomy.html" (dict "Link" .Permalink "LinkText" .LinkTitle ) }}
    {{ end }}
</div>
{{end}}
